* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  transform: translateZ(0);
}

#archive_root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_spinner > img {
  width: 200px;
  height: 200px;
}

#arch_content_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
